.vscode/
extern/SDL2-*
extern/SDL2_image-*
build/.cmake/
build/array
build/CMakeFiles
build/dict
build/json
build/ui
build/*.exe
build/*.pdb
build/*.dll
build/cmake_install.cmake
build/CMakeCache.txt
compile_commands.json
Makefile

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf